Package = "com.yourname.example"
Name = "Example Tweak"
Version = "1.0.0"
Architecture = "iphoneos-arm64"
Description = "This is a sample TOML metadata template."
Maintainer = "Developer Name <dev@example.com>"
Author = "BlackCat <quanvm0501alt1@tutamail.com>"
Section = "Tweaks"
Depends = "mobilesubstrate | com.ex.substitute | ellekit, preferenceloader"
Filename = "com.yourname.example_1.0.0.deb"
# SileoDepiction = "http://blackcatofficialytb.github.io/jbrepo/depictions/example.json"